In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-10-05 21:03:42,-53.1500,-70.9167,48.31,40,0,18.41
1,1,Jamestown,US,2021-10-05 20:59:57,42.0970,-79.2353,74.52,78,70,5.99
2,2,Antalaha,MG,2021-10-05 21:03:45,-14.9003,50.2788,67.10,88,9,5.59
3,3,Tateyama,JP,2021-10-05 21:03:45,34.9833,139.8667,71.62,78,80,8.77
4,4,Zaysan,KZ,2021-10-05 21:03:46,47.4667,84.8667,42.10,88,100,9.33

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#  locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#  temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#  fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#  heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#  fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#  fig

In [9]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]
                                 ,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 88

In [52]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Lumut,MY,2021-10-05 21:03:47,4.2323,100.6298,78.17,82,95,9.08
14,14,Praia,CV,2021-10-05 21:01:29,14.9215,-23.5087,81.14,78,40,14.97
16,16,Barsi,IN,2021-10-05 21:03:49,18.2333,75.7000,77.11,82,83,7.83
19,19,Butaritari,KI,2021-10-05 21:03:51,3.0707,172.7902,81.88,70,19,14.47
22,22,Laguna,US,2021-10-05 21:02:04,38.4210,-121.4238,87.64,26,1,5.99
25,25,Atuona,PF,2021-10-05 21:03:55,-9.8000,-139.0333,78.37,73,72,20.87
27,27,Guerrero Negro,MX,2021-10-05 21:03:55,27.9769,-114.0611,78.21,61,1,17.54
30,30,Isangel,VU,2021-10-05 21:03:56,-19.5500,169.2667,80.04,77,1,1.03
33,33,Georgetown,MY,2021-10-05 21:03:58,5.4112,100.3354,77.90,93,20,3.44
34,34,Pacific Grove,US,2021-10-05 21:00:11,36.6177,-121.9166,82.17,75,100,5.01

In [53]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [54]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
9            Lumut      MY     78.17   4.2323  100.6298
14           Praia      CV     81.14  14.9215  -23.5087
16           Barsi      IN     77.11  18.2333   75.7000
19      Butaritari      KI     81.88   3.0707  172.7902
22          Laguna      US     87.64  38.4210 -121.4238
25          Atuona      PF     78.37  -9.8000 -139.0333
27  Guerrero Negro      MX     78.21  27.9769 -114.0611
30         Isangel      VU     80.04 -19.5500  169.2667
33      Georgetown      MY     77.90   5.4112  100.3354
34   Pacific Grove      US     82.17  36.6177 -121.9166

In [56]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [57]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Lumut,MY,78.17,4.2323,100.6298,"Marina Island Pangkor Resort & Hotel (Suites, ..."
14,Praia,CV,81.14,14.9215,-23.5087,LT Aparthotel
16,Barsi,IN,77.11,18.2333,75.7000,B.K.T. COMMUNICATION AND FASHION
19,Butaritari,KI,81.88,3.0707,172.7902,Isles Sunset Lodge
22,Laguna,US,87.64,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
25,Atuona,PF,78.37,-9.8000,-139.0333,Villa Enata
27,Guerrero Negro,MX,78.21,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
30,Isangel,VU,80.04,-19.5500,169.2667,Tanna Lodge
33,Georgetown,MY,77.90,5.4112,100.3354,Cititel Penang
34,Pacific Grove,US,82.17,36.6177,-121.9166,Lovers Point Inn

In [59]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))